body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* 레이아웃 전반 스타일*/
.title { text-align: center; font-weight:bold; font-size:20pt; }
.container { padding:10px 10px 10px 10px; }
.panel-borderless { border: 0; box-shadow: none; }
.pointer { cursor:pointer; }
.name { font-size: 1.5em; font-weight: 400; }

/* 사진의 크기 제한 */
.photoWidth { max-width:80px; min-width:80px; }

/* 모달 박스를 위한 스타일*/
.modal { display: block; position: fixed; z-index: 999; 
  left: 0; top: 0; width: 100%; height: 100%;
  overflow: auto; background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); }
.form { background-color: white; margin:80px auto;
  max-width: 400px; min-width: 200px; font: 13px "verdana";
  padding: 10px 10px 10px 10px;  }
.loading { margin:200px auto; }
.form div { padding: 0;  display: block;  margin: 5px 0 5px 0; }
.form label{ text-align: left; margin:0 0 3px 0;  padding:0px;
  display:block; font-weight: bold; }
.form input, textarea, select { box-sizing: border-box;
  border:1px solid #BEBEBE; padding: 7px; margin:0px;
  outline: none;  }
.form .long { width: 100%; }
.form .button{ background: #2B798D; padding: 8px 15px 8px 15px;
  border: none; color: #fff; }
.form .button:hover { background: #4691A4; }
.form .heading { background: #33A17F; font-weight: 300;
  text-align: left; padding : 20px; color: #fff;
  margin:5px 0 30px 0; padding: 10px; min-width:200px;
  max-width:400px; }

/* 둥근 버튼을 위한 스타일*/
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}