table.list  { width: 600px; border:1px solid black; border-collapse:collapse; }
table.list td, table.list th { border:1px solid black;  text-align:center; }
table.list > thead > tr { color:yellow; background-color: purple; }