table._3ahFrUuYRFs3M_wu0OcCr7  { width: 600px; border:1px solid black; border-collapse:collapse; }
table._3ahFrUuYRFs3M_wu0OcCr7 td, table._3ahFrUuYRFs3M_wu0OcCr7 th { border:1px solid black;  text-align:center; }
table._3ahFrUuYRFs3M_wu0OcCr7 > thead > tr { color:yellow; background-color: purple; }
._3Y9RoEYxJ9BNF-7hs9MXNm {     
    background-color:aqua; border: solid 1px brown; width:578px; 
    text-align: center; font-size:15pt; padding:10px 10px 10px 10px;
    font-weight:bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;   
}._5GJx20GSbnoFIRv9fk-m3 { 
    font-size:20pt; 
    background-color:aqua; 
    border:solid 1px gray;
}